/* ================= GOOGLE FONTS ================= */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ================= BODY DEFAULTS ================= */
body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  height: 100vh;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

input::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

/* ================= CUSTOM FONT ================= */
@font-face {
  font-family: 'Afacad';
  font-display: swap;
  src: url('https://fonts.googleapis.com/css2?family=Afacad&display=swap');
}
body {
  font-family: 'Afacad', sans-serif;
}

/* ================= TAILWIND ================= */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ================= CUSTOM UTILITIES ================= */
@layer utilities {
  /* ==== Custom scrollbar === */
  .scrollbar-custom {
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: #00007f #f0eded; /* Firefox thumb + track */
  }

  .scrollbar-custom::-webkit-scrollbar {
    width: 4px; /* vertical thickness */
    height: 4px; /* horizontal thickness */
  }

  /* MAIN PART: LIMIT TRACK HEIGHT */
  .scrollbar-custom::-webkit-scrollbar-track {
    background: #00007f;
    border-top: 40px solid transparent; /* reduces top usable area */
    border-bottom: 40px solid transparent; /* reduces bottom usable area */
    box-sizing: content-box;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: #ed1334;
    border-radius: 4px;
  }

  /* Optional: hide scrollbar */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/* ================= CUSTOM CONTAINER (optional) ================= */
/* This will limit container height to shrink scrollbar itself */
.scroll-container {
  max-height: 500px; /* example height limit */
  overflow-y: auto;
}

@layer utilities {
  @media (min-width: 1000px) and (max-width: 1300px) {
    .fix-layout\:flex-col {
      flex-direction: column !important;
    }
    .fix-layout\:w-full {
      width: 100% !important;
    }
    .fix-layout\:h-auto {
      height: auto !important;
    }
    .fix-layout\:text-2xl {
      font-size: 1.5rem !important;
    }
  }
}
